uri: http://rubyforge.org
username: user
is_private: false
rubyforge:
  group_ids:
	activeacl: 2578
  package_ids:
	active_acl: 3026
  type_ids:
	.zip: 3000
	.tgz: 5000
	.gem: 1400
  processor_ids:
	Any: 8000