<html>
<body>
<% if flash[:error] %>
      <p class="error"><%=h flash[:error] %></p>
    <% elsif flash[:notice] %>
      <p class="notice"><%=h flash[:notice] %></p>
    <% elsif flash[:success] %>
      <p class="notice"><%=h flash[:success] %></p>
    <% else %>
      <p>&nbsp;</p>
    <% end %>
<table border="0" cellpadding="5">
  <tr>
    <th>Section/Value</th>
    <th>Description</th>
    <th>&nbsp;</th>
  </tr>
<% oldsection = nil %>
<% for permission in @permissions do %>
  <% if permission.section != oldsection and oldsection != nil %>
    <tr><td colspan="3">&nbsp;</td></tr>
  <% end %>
  <% unless permission.section == oldsection %>
    <tr>
      <td colspan="3"><b><%=h permission.section %></b></td>
    </tr>
    <% oldsection = permission.section %>
  <% end %>
  <tr>
    <td><img src="/engine_files/gacl_engine/spacer.gif" height="1" width="20"><%= link_to permission.value, :action => 'edit', :id => permission.id %></td>
    <td><%=h permission.description %></td>
    <td>
      <small>[<%= link_to 'delete', {:action => 'delete', :id => permission.id }, {:confirm => 'Shure to delete this Permission?'} %>]</small>
    </td>
  </tr>
<% end %>
</table>
</body>
</html>