<table border="0">
  <tr>
    <td>Section:</td>
    <td><%= text_field 'permission', 'section' %></td>    
  </tr>
  <tr>
    <td>Value:</td>
    <td><%= text_field 'permission', 'value' %></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%= text_field 'permission', 'description' %></td>
  </tr>
</table>