<html>
<body>
<% if flash[:error] %>
      <p class="error"><%=h flash[:error] %></p>
    <% elsif flash[:notice] %>
      <p class="notice"><%=h flash[:notice] %></p>
    <% elsif flash[:success] %>
      <p class="notice"><%=h flash[:success] %></p>
    <% else %>
      <p>&nbsp;</p>
    <% end %>
    <%= form_tag({ :action => 'update', :id => @permission.id }) %>
      <%= render_partial 'permission_form' %>
      <%= submit_tag 'Save' %> <%= submit_tag 'Cancel' %>
    </form>
</body>
</html>